
body{
    font-family:'Lato', sans-serif;
}

.container{
    padding-top: 35px;
  }
#newsdetails{
display:flex;
align-items:flex-start;
justify-content: space-around;
}

.hover-effect:hover
{  background-color:rgb(221, 239, 242);
    box-shadow: 0px 8px 16px 0px rgb(189, 188, 188);
}